#### FRONT END ####
/front-end/node_modules
/front-end/.next/
/front-end/out/
/front-end/build
/front-end/*.pem
/front-end/npm-debug.log*
/front-end/*.tsbuildinfo
/front-end/next-env.d.ts

##### BACK END #####
/back-end/target/
/back-end/!.mvn/wrapper/maven-wrapper.jar
/back-end/!**/src/main/**/target/
/back-end/!**/src/test/**/target/
/back-end/.apt_generated
/back-end/.classpath
/back-end/.factorypath
/back-end/.project
/back-end/.settings
/back-end/.springBeans
/back-end/.sts4-cache
/back-end/xml/
/back-end.mvn/wrapper/maven-wrapper.jar
/back-end.mvn/wrapper/maven-wrapper.properties
/back-end/**/data

##### OTHER #####
.idea
*.iws
*.iml
*.ipr
.vscode/
.env*

.DS_Store
src/main/resources/application.yml
